<a href="https://colab.research.google.com/github/WatchapolAreephongsa/unit-1/blob/main/Session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Programming exercises

a. write a program that calculates the addition of all integer numbers from 0 to 2021.

We will use the arithmethic sequence
$$sum=1/2*n(1+n)$$

In [ ]:
start_num = 0
end_num = 2021

n=end_num -  start_num

#calculate the addition
result = n*(n+1)/2
#show the result
print("The addition of integers from",start_num,"to",end_num, "is",result)

In [ ]:
#printing using f-strings
print(f"The addition of integers from {start_num} to {end_num} is {result}")

b. write a program that calculates the value of y when the user enters a integer x

In [ ]:
x = int(input("enter the value of x here "))

#This program will calculate y=2(x+3)-3 when the user inputs the value of x

print(f"The value of y when x = {x} is" , 2*(x+3)-3)

c.Write a program that asks the user for this name and grade and outputs the user's email address at UWC Isak:

Ex.
name = John doe
grade = 10

E-mail = 2024.john.doe@uwcisak.jp

In [ ]:
first_name =  input("Write your first name here(do not capitalize): ")
last_name = input("Write your last name here(do not capitalize): ")
#the program will show the user's UWC ISAK's email when they input their grade, first name and last name
grade = int(input(" Enter your grade: "))

print(f"your ISAK e-mail is: {grade+2012}.{first_name}.{last_name}@uwcisak.jp")

Write your first name here(do not capitalize): watchapol
Write your last name here(do not capitalize): areephongsa
 Enter your grade: 11
your ISAK e-mail is:2023.watchapol.areephongsa@uwcisak.jp

d.Write a program that converts a temperature from Farenheit to Celsius

In [ ]:
Farenheit = int(input("Enter temperature in Farenheit here"))
#equation: (°F − 32) × 5/9 = °C
Celsius = ( Farenheit -32)*5/9 

print(f"The temperature in Celsius is {Celsius}°C")

Enter temperature in Farenheit here90
The temperature in Celsius is 32.22222222222222°C

 e.Write a program to convert from miles to kilometers。

 
 $$miles = 1.609 * km$$

In [2]:
#Step 1: ask the user for the miles
#Step 2: store the value entered by the user in a variable
#Step 3: calculate kilometers as miles * (1/1.609)
#Step 4: print out the result to the user. Nicely written

miles = int(input("Please enter the miles(integer only): "))
kilometers = miles*(1.609)

print(f"{miles} miles is equal to {kilometers} km")

Please enter the miles(integer only): 100
100 miles is equal to 160.9 lm

f.Write a program that solves the Quadratic Equation for valid inputs a, b, c。

$$ax**2+bx+c$$

In [1]:
#get the input for a,b and c and solve for x by using quadratic equation
a = int(input("value of a: "))
b = int(input("value of b: "))
c = int(input("value of c: "))


x = (-b+(b**2-4*a*c)**1/2)/ 2*a

print(f"the answer of this equation is {x}")

value of a:

ValueError: ignored

g.Write a program to reverse a number entered by the user。

Ex. input 123. output 321

In [3]:
#example
noun = "animal"
#Indexing to get the first letter. remember we start counting at 0
print(noun[0])

#Print the last letter in the string
#-1 is the last letter
print(noun[-1])
print(noun[5])

# get a part or substring [start:end:step], end is not included
print(noun[0:-1:2])

#reverse the word using indexing
print("reversing", noun[-1:0:-1])

a
l
l
aia
reversing lamin

In [3]:
num = int(input("enter the number here: "))
#change int to str
str_num = "1"+str(num) #put 1 in front because the first letter won't be included in the program
print(str_num[-1:0:-1])

enter the number here: 34455656
65655443

h.Write a program that asks the user for their name, age, nationality and produces a greeting message such as “Welcome John Doe you are 30 years old and a national of Colombia”

In [1]:
first_name = input("Your first name: ")
last_name = input("Your last name: ")
age = int(input("Your age: "))
nationality= input("Your nationality: ")

print(f"Welcome {first_name} {last_name} you are {age} years old and a national of {nationality}.")

Your first name: Aup
Your last name: PII
Your age: 16
Your nationality: Japan
Welcome Aup PII you are 16 years old and a national of Japan.

i.Create one more program that converts between different units.

$$0.0328084ft= cm$$

In [1]:
#Program convert height in centimeter to height in foot
height= int(input("how tall are you(cm): "))

ft= height* 0.0328084

print(f"You are {ft}ft")

how tall are you(cm): 167
You are 5.4790028ft